parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$identifier of method Sylius\\\\Component\\\\Registry\\\\ServiceRegistryInterface\\:\\:get\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/ShippingEstimatorController.php

		-
			message: "#^Parameter \\#2 \\$currencyCode of method Sylius\\\\Bundle\\\\MoneyBundle\\\\Formatter\\\\MoneyFormatterInterface\\:\\:format\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/ShippingEstimatorController.php

		-
			message: "#^Parameter \\#2 \\$label of method Sylius\\\\Component\\\\Order\\\\Factory\\\\AdjustmentFactoryInterface\\:\\:createWithData\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/ShippingEstimatorController.php

