parameters:
    level: max
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            identifier: missingType.iterableValue

    paths:
        - src
        - tests/Behat
        - tests/Functional
