parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$countryCode of method Sylius\\\\Component\\\\Addressing\\\\Model\\\\AddressInterface\\:\\:setCountryCode\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/ShippingEstimatorController.php

		-
			message: "#^Parameter \\#1 \\$identifier of method Sylius\\\\Component\\\\Registry\\\\ServiceRegistryInterface\\:\\:get\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/ShippingEstimatorController.php

		-
			message: "#^Parameter \\#1 \\$postcode of method Sylius\\\\Component\\\\Addressing\\\\Model\\\\AddressInterface\\:\\:setPostcode\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/ShippingEstimatorController.php

		-
			message: "#^Parameter \\#1 \\$view of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Controller\\\\AbstractController\\:\\:render\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/ShippingEstimatorController.php

		-
			message: "#^Parameter \\#2 \\$currencyCode of method Sylius\\\\Bundle\\\\MoneyBundle\\\\Formatter\\\\MoneyFormatterInterface\\:\\:format\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/ShippingEstimatorController.php

		-
			message: "#^Parameter \\#2 \\$label of method Sylius\\\\Component\\\\Order\\\\Factory\\\\AdjustmentFactoryInterface\\:\\:createWithData\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/ShippingEstimatorController.php

