includes:
  - phpstan-baseline.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue

    paths:
        - src
        - tests/Behat

    excludePaths:
        # Makes PHPStan crash
        # - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'
